$blue: #3FA5F4;
$light-blue: #74BBF5;
$violet: royalblue;
$green: #5ADD00;

$gray: #999999;

$white: whitesmoke;
$pure-white: white;

$inactive-gray: #65686D;
$active-gray: gray;
$button-gray: #474D54;

$border-radius: 3px;