@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.rewardItem {
  background-color: rgba(255,255,255,0.1);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  padding: 10px;
  border-radius: $border-radius;
  height: 70px;

  &__itemImageContainer {
    height: 50px;
    width: 50px;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__itemInfoContainer {
    display: flex;
    flex-direction: column;

    &-name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 2px;
    }

    &-description {
      font-size: 12px;
      flex-grow: 1;
      color: $gray;
    }
  }

}