.settingsPasswordForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__inputsContainer {
    flex-grow: 1;
  }

  &__buttonsContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}