.controllerPage {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  &__pageContainer {
    padding-top: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}